[submodule "litevideo"]
	path = litevideo
	url = https://github.com/antmicro/litevideo
	branch = hdmi2pcie-colors
[submodule "litex"]
	path = litex
	url = https://github.com/enjoy-digital/litex
[submodule "litedram"]
	path = litedram
	url = https://github.com/enjoy-digital/litedram
[submodule "litepcie"]
	path = litepcie
	url = https://github.com/enjoy-digital/litepcie
[submodule "migen"]
	path = migen
	url = https://github.com/m-labs/migen
